In [3]:
##list comprehension
lst=[1,2,3,4]
lst1=[]
for i in lst:
    lst1.append(i**2)
print(lst1)

[1, 4, 9, 16]

In [5]:
[i**2 for i in lst]

[1, 4, 9, 16]

In [10]:
#sum of even numbers in a list
lst=[1,2,3,4,5,6,7,8,9,10]
sum([i for i in lst if i%2!=0])

25

Tuples
they are immutable like strings
use ()
can convert list to tuple

In [12]:
l=[1,2,3,4,'Sri']
type(l)

list

In [15]:
t=tuple(l)
t

(1, 2, 3, 4, 'Sri')

In [17]:
t[4][2]

'i'

In [18]:
l[3]

4

In [19]:
t[3]

4

In [20]:
l[3]='narahari'
l

[1, 2, 3, 'narahari', 'Sri']

In [22]:
t[3]='narahari'

TypeError: 'tuple' object does not support item assignment

#Sets

In [25]:
set([1,2,3,4,5])

{1, 2, 3, 4, 5}

In [26]:
type({1,2,4,5,6,})

set

In [27]:
{1,2,3,5,7,8,9,10,11,11,8,9}

{1, 2, 3, 5, 7, 8, 9, 10, 11}

In [28]:
type({})

dict

In [29]:
type({12,34})

set

In [32]:
X1={1,2,3,4,5}
X2={2,3,4,5,6,7}

In [33]:
type(X1)

set

In [34]:
X1.union(X2)

{1, 2, 3, 4, 5, 6, 7}

In [35]:
X1.intersection(X2)

{2, 3, 4, 5}

In [36]:
X1.add(6)

In [37]:
X1

{1, 2, 3, 4, 5, 6}

In [39]:
X1.difference(X2)

{1}

In [40]:
X1={3,4,5}
X2={1,2,3,4,5,6,7}
X1.issubset(X2)

True

In [41]:
X2

{1, 2, 3, 4, 5, 6, 7}

In [42]:
X2[2]

TypeError: 'set' object does not support indexing

In [43]:
list(X2)[2]

3

In [51]:
var={1:'sri',2:'python',3:'narahari'}

In [52]:
type(var)

dict

In [53]:
var

{1: 'sri', 2: 'python', 3: 'narahari'}

In [54]:
#indexing
var.items()

dict_items([(1, 'sri'), (2, 'python'), (3, 'narahari')])

In [55]:
var[1]

'sri'

In [56]:
var.items()[0]

TypeError: 'dict_items' object does not support indexing

In [60]:
var.keys()

dict_keys([1, 2, 3])

In [62]:
var.values()

dict_values(['sri', 'python', 'narahari'])

In [64]:
var={'A':'sri','B':'python','C':'narahari'}

In [65]:
var

{'A': 'sri', 'B': 'python', 'C': 'narahari'}

In [67]:
var['B']

'python'

In [68]:
var['A']='venkatesh'
var

{'A': 'venkatesh', 'B': 'python', 'C': 'narahari'}

Netsed dictionaries

In [82]:
d={'key1':{'nestkey':{'subnestkey':'value'}}}

In [83]:
d

{'key1': {'nestkey': {'subnestkey': 'value'}}}

In [84]:
d['key1']['nestkey']['subnestkey']

'value'

Dictionary comprehension

In [86]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [87]:
lst1=[2,3,4,5,6,7]
lst2=[6,7,8,9,3,4]
lst1+lst2

[2, 3, 4, 5, 6, 7, 6, 7, 8, 9, 3, 4]

In [92]:
sum1=[]
def lst_sum(a,b):
    for i in range(len(a)):
        sum1.append(a[i]+b[i])
    return sum1

In [93]:
print(lst_sum(lst1,lst2))

[8, 10, 12, 14, 9, 11]

In [94]:
[lst1[i]+lst2[i] for i in range(len(lst1))]

[8, 10, 12, 14, 9, 11]

In [96]:
[sum(lst1)+sum(lst2)]

[64]