In [1]:
#complex numbers: note the use of 'j' to specify the imaginary part

In [2]:
k=7-6j
k

(7-6j)

In [3]:
k.real

7.0

In [4]:
k.imag

-6.0

In [5]:
print(k.real,k.imag)

7.0 -6.0

In [6]:
l=list('jkdfgkdgj')
l

['j', 'k', 'd', 'f', 'g', 'k', 'd', 'g', 'j']

In [7]:
str1='krish'
len(str1)

5

In [8]:
len(l)

9

In [9]:
lst=[9,8,3,4,5,2]
len(lst)

6

In [10]:
# for loop, sum of all the elements, iteration
sum1=0
for i in lst:
    sum1=sum1+i
   # print(sum1)
print(sum1)

31

In [11]:
l

['j', 'k', 'd', 'f', 'g', 'k', 'd', 'g', 'j']

In [12]:
for x in l:
    print(x)

j
k
d
f
g
k
d
g
j

In [13]:
## sum of odd numbers
##sum of even numbers

lst=[1,3,4,6,7,8,9,2,3,4,5]
lst

[1, 3, 4, 6, 7, 8, 9, 2, 3, 4, 5]

In [14]:
%%time
## sum of even numbers
even_sum=0
odd_sum=0
for i in lst:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
print(even_sum)        
print(odd_sum)

24
28
Wall time: 0 ns

In [15]:
###for else, will go to the else block only once list of all elements is completed
lst=[4,5,3,6,7,2,7,8,9,3,6]
sum1=0
for i in lst:
    if i==1:
        break
    sum1=sum1+i
else:
    print(sum1)

60

In [16]:
#find the sum of even number and odd numbers. If the even sum is greater than 20 or 
#odd_sum is greater than 20 implement a break condition. print(else blocK)

In [17]:
lst=[1,2,3,4,5,6,7]
even_sum=0
odd_sum=0
for i in lst:
    if i%2==0:
        even_sum=even_sum+i
        if even_sum>20:
            break
    else:
        odd_sum=odd_sum+i
        if odd_sum>20:
            break
else:
    print(even_sum)
    print(odd_sum)

12
16

In [18]:
#while loop
##sum of n elements
n=10
i=1
sum1=0
while i<=n:
    sum1=sum1+i
    i=i+1
print(sum1)

55

In [22]:
#sum of n elements (1,2,3,4,5,6,7,8,9,10)
n=10
i=1
even_sum=0
odd_sum=0
while i<=n:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
    i=i+1
print('even sum is', even_sum)
print('odd sum is',odd_sum)

even sum is 30
odd sum is 25

In [23]:
##Range

In [24]:
range(10)

range(0, 10)

In [25]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
range(4,20,2)

range(4, 20, 2)

In [27]:
list(range(4,20,2))

[4, 6, 8, 10, 12, 14, 16, 18]

In [29]:
list(range(1,100,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [30]:
list(range(100,0,-2))

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2]

In [32]:
##continue

for val in 'string':
    if val=='i':
        break
    print(val)
print('The end')

s
t
r
The end

In [33]:

for val in 'string':
    if val=='i':
        continue
    print(val)
print('The end')

s
t
r
n
g
The end

In [34]:
###strings

In [35]:
len('hello world')

11

In [36]:
s='hello world'
s[8]

'r'

In [37]:
s[:]

'hello world'

In [38]:
s[1:]

'ello world'

In [39]:
s[1:7]

'ello w'

In [40]:
s[:-1]

'hello worl'

In [41]:
s[:-2]

'hello wor'

In [42]:
s[::]

'hello world'

In [43]:
s[::-1]

'dlrow olleh'

In [44]:
s[::-2]

'drwolh'

In [54]:
s='hello, world concatenate me!'
len(s)

28

In [47]:
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [48]:
s.lower()

'hello world concatenate me!'

In [52]:
s.split()

['hello', 'world', 'concatenate', 'me!']

In [53]:
len(s.split())

4

In [57]:
s.split(sep='world')

['hello, ', ' concatenate me!']

In [59]:
s='sri narahari'
s.count('a')

3

In [60]:
s.find('a')

5

In [61]:
s.center(20,'h')

'hhhhsri naraharihhhh'

In [62]:
'hello\thi'.expandtabs()

'hello   hi'

is check methods

In [63]:
s='hello123'

In [64]:
s.isalpha()

False

In [65]:
s.isalnum()

True

In [66]:
s.isspace()

False

In [67]:
s='sri narahari'

In [68]:
s.split('a')

['sri n', 'r', 'h', 'ri']

In [69]:
s.partition('a')

('sri n', 'a', 'rahari')

In [70]:
range(5)

range(0, 5)

In [72]:
list(range(5))

[0, 1, 2, 3, 4]

In [75]:
for i in range(len(s)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [76]:
s

'sri narahari'

In [77]:
0<1 & 0<2

False

In [78]:
0<1 and 0<2

True

In [79]:
x=[1,2,3,4,5,6,7,8,9,10]

In [80]:
x[3:3]

[]

In [81]:
x[3:4]

[4]

In [82]:
x[3:-2]

[4, 5, 6, 7, 8]

In [83]:
x[-6:-3]

[5, 6, 7]